body {
    margin: 0;
    padding: 0;
}

header {
    /* background-image: url("img/fondo01.jpg"); */
    background-color: #3d8b9c;
    text-align: center;
    padding: 15px 20%;
}

header p {
    color:white;
}

h1 {
    background-color: #fff;
    color: #3d8b9c;
}